<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Diksha-Rathi/Smart-Bin-GHC">Smart Bin</a></strong> <br/>
			Web Application for the NGO reap benefit.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/nancygoel62/Smart-Secure-Device">Secure Smart</a></strong> <br/>
            Smart device project for home security using Raspberry Pi.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/tanvi-surana/jewellery">Jewellery Website</a></strong> <br/>
            Jewellery Website
		</h5>
		<h5 class="reasearch">
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Wireless Sensor Networks </strong> <br/>
             Increasing lifetime of Wireless Sensor Networks. 
		</h5>
    </div>
  </div>
</div>
</section>
